.all-products {
  margin: auto;
  width: 1200px;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(5, 19%);
  grid-gap: 10px;
  padding: 30px;
  overflow: auto;
  height: 500px;
}
.input-div {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}
.input-box {
  padding: 7px 16px 7px 8px;
  margin-left: 20px;
  /* margin-right: 10px; */
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 180px;
  background: transparent;
  /* color: #fff; */
}

.input-button {
  padding: 4px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.top-nav {
  display: flex;
  border: 1px solid royalblue;
  /* width: 500px; */
  background-color: darkkhaki;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.heading {
  text-align: center;
}

/* .page {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 200px;
} */

.details {
  /* width: 20%; */
  /* border: 1px solid black; */
  border-radius: 10px;
  height: 250px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details > p {
  margin: 5px;
}

.details > img {
  height: 150px;
  width: 220px;
  border-radius: 10px;
}

.btn {
  width: 220px;
  border-radius: 10px;
}
